# DX 704 Week 10 Project

In this project, you will implement document search within a question and answer database and assess its performance.

The full project description and a template notebook are available on GitHub: [Project 10 Materials](https://github.com/bu-cds-dx704/dx704-project-10).

## Example Code

You may find it helpful to refer to these GitHub repositories of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx601-examples
* https://github.com/bu-cds-omds/dx602-examples
* https://github.com/bu-cds-omds/dx603-examples
* https://github.com/bu-cds-omds/dx704-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

## Part 1: Download the SQuAD-explorer Data Set

You may use the code provided below.

In [1]:
!git clone https://github.com/rajpurkar/SQuAD-explorer

Cloning into 'SQuAD-explorer'...

remote: Enumerating objects: 5563, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 5563 (delta 11), reused 17 (delta 6), pack-reused 5539 (from 1)
Receiving objects: 100% (5563/5563), 52.26 MiB | 12.47 MiB/s, done.
Resolving deltas: 100% (3563/3563), done.

In [2]:
import json

In [3]:
with open("SQuAD-explorer/dataset/train-v1.1.json") as fp:
    train_data = json.load(fp)

In [4]:
type(train_data)

dict

In [5]:
list(train_data.keys())

['data', 'version']

In [6]:
type(train_data["data"])

list

In [7]:
len(train_data["data"])

442

In [8]:
type(train_data["data"][0])

dict

In [9]:
train_data["data"][0].keys()

dict_keys(['title', 'paragraphs'])

In [10]:
train_data["data"][0]["title"]

'University_of_Notre_Dame'

In [11]:
len(train_data["data"][0]["paragraphs"])

55

In [12]:
train_data["data"][0]["paragraphs"][0]

{'context': 'Architecturally, the school has a Catholic character. Atop the Main Building\'s gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper statue of Christ with arms upraised with the legend "Venite Ad Me Omnes". Next to the Main Building is the Basilica of the Sacred Heart. Immediately behind the basilica is the Grotto, a Marian place of prayer and reflection. It is a replica of the grotto at Lourdes, France where the Virgin Mary reputedly appeared to Saint Bernadette Soubirous in 1858. At the end of the main drive (and in a direct line that connects through 3 statues and the Gold Dome), is a simple, modern stone statue of Mary.',
 'qas': [{'answers': [{'answer_start': 515,
     'text': 'Saint Bernadette Soubirous'}],
   'question': 'To whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
   'id': '5733be284776f41900661182'},
  {'answers': [{'answer_start': 188, 'text': 'a copper statue of Christ'}],
   'question': 'What is in front of the Notre Dame Main Building?',
   'id': '5733be284776f4190066117f'},
  {'answers': [{'answer_start': 279, 'text': 'the Main Building'}],
   'question': 'The Basilica of the Sacred heart at Notre Dame is beside to which structure?',
   'id': '5733be284776f41900661180'},
  {'answers': [{'answer_start': 381,
     'text': 'a Marian place of prayer and reflection'}],
   'question': 'What is the Grotto at Notre Dame?',
   'id': '5733be284776f41900661181'},
  {'answers': [{'answer_start': 92,
     'text': 'a golden statue of the Virgin Mary'}],
   'question': 'What sits on top of the Main Building at Notre Dame?',
   'id': '5733be284776f4190066117e'}]}

In [13]:
sum(len(doc["paragraphs"]) for doc in train_data["data"])

18896

## Part 2: Restructure JSON Data for Processing

Parse the file "SQuAD-explorer/dataset/train-v1.1.json" above to produce a file "parsed.tsv" with columns document_title, paragraph_index, and paragraph_context.
The paragraph_index column should be zero-indexed, so zero for the first paragraph of each document.
Use pandas `to_csv` method to write the file since there are many quotes and other issues to handle otherwise.

In [14]:
# YOUR CHANGES HERE

# Part 2: build parsed.tsv
import pandas as pd

rows = []

# train_data was already loaded above
for doc in train_data["data"]:
    title = doc["title"]
    for idx, para in enumerate(doc["paragraphs"]):
        context = para["context"]
        rows.append(
            {
                "document_title": title,
                "paragraph_index": idx,          # zero-indexed
                "paragraph_context": context,
            }
        )

parsed_df = pd.DataFrame(rows)
parsed_df.to_csv("parsed.tsv", sep="\t", index=False)

parsed_df.head()

,document_title,paragraph_index,paragraph_context
0,University_of_Notre_Dame,0,"Architecturally, the school has a Catholic cha..."
1,University_of_Notre_Dame,1,"As at most other universities, Notre Dame's st..."
2,University_of_Notre_Dame,2,The university is the major seat of the Congre...
3,University_of_Notre_Dame,3,The College of Engineering was established in ...
4,University_of_Notre_Dame,4,All of Notre Dame's undergraduate students are...

Submit "parsed.tsv" in Gradescope.

## Part 3: Prepare Suitable Paragraph Vectors for Document Search

Design and implement paragraph vectors based on their text with length 1024.
Note that this will be much smaller than the number of distinct words in the training data.

Hint: you can base your vectors on any techniques covered in this module so far.
Beware that they will be automatically assessed (along with the question vectors of part 4) to make sure they retain useful information.

In [15]:
# YOUR CHANGES HERE

# Part 3 (1/2): create 1024-dim paragraph vectors using TF-IDF
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Read the parsed paragraphs
parsed_df = pd.read_csv("parsed.tsv", sep="\t")

# TF-IDF with vocabulary size 1024
tfidf = TfidfVectorizer(max_features=1024)
paragraph_matrix = tfidf.fit_transform(parsed_df["paragraph_context"])

paragraph_matrix.shape

(18896, 1024)

Save your paragraph vectors in a file "paragraph-vectors.tsv.gz" with columns document_title, paragraph_index, and paragraph_vector_json where paragraph_vector_json is a JSON encoded list.

Hint: don't forget the ".gz" extension indicating gzip compression.
The Pandas `.to_csv` method will automatically add the compression if you save data with a filename ending in ".gz", so you just need to pass it the right filename.

In [16]:
# YOUR CHANGES HERE

# Part 3 (2/2): save paragraph vectors to paragraph-vectors.tsv.gz
import json
import numpy as np

# Convert sparse matrix to dense (n_paragraphs x 1024)
paragraph_dense = paragraph_matrix.toarray().astype(float)

paragraph_vector_json = [
    json.dumps(vec.tolist()) for vec in paragraph_dense
]

paragraph_vectors_df = pd.DataFrame(
    {
        "document_title": parsed_df["document_title"],
        "paragraph_index": parsed_df["paragraph_index"],
        "paragraph_vector_json": paragraph_vector_json,
    }
)

paragraph_vectors_df.to_csv(
    "paragraph-vectors.tsv.gz", sep="\t", index=False
)

paragraph_vectors_df.head()

,document_title,paragraph_index,paragraph_vector_json
0,University_of_Notre_Dame,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,University_of_Notre_Dame,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,University_of_Notre_Dame,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,University_of_Notre_Dame,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,University_of_Notre_Dame,4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

Submit "paragraph-vectors.tsv.gz" in Gradescope.

## Part 4: Encode Question Vectors with the Same Design

Read the questions in "questions.tsv" and encode them in the same way that you encoded the paragraph vectors.

In [17]:
# YOUR CHANGES HERE

# Part 4 (1/2): encode question vectors with the SAME tfidf as paragraphs
import pandas as pd

questions_df = pd.read_csv("questions.tsv", sep="\t")

# Use the SAME fitted tfidf object from Part 3
question_matrix = tfidf.transform(questions_df["question"])

question_matrix.shape

(100, 1024)

Save your question vectors in "question-vectors.tsv" with columns question_id and question_vector_json.

In [18]:
# YOUR CHANGES HERE

# Part 4 (2/2): save question vectors to question-vectors.tsv
import json
import numpy as np

question_dense = question_matrix.toarray().astype(float)

question_vector_json = [
    json.dumps(vec.tolist()) for vec in question_dense
]

question_vectors_df = pd.DataFrame(
    {
        "question_id": questions_df["question_id"],
        "question_vector_json": question_vector_json,
    }
)

question_vectors_df.to_csv(
    "question-vectors.tsv", sep="\t", index=False
)

question_vectors_df.head()

   question_id                               question_vector_json
0            1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1            4  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2            7  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3           10  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4           13  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

Submit "question-vectors.tsv" in Gradescope.

## Part 5: Match Questions to Paragraphs using Nearest Neighbors

Match your question vectors to paragraph vectors and identify the top 5 paragraph vectors for each question using nearest neighbors.
Specifically, use the Euclidean distance between the vectors.

In [19]:
# YOUR CHANGES HERE
# Part 5 (1/2): find top-5 nearest paragraphs for each question
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import numpy as np

# We assume parsed_df, paragraph_matrix, questions_df, question_matrix
# are already in memory from Parts 3 and 4.

n_neighbors = 5
nn = NearestNeighbors(n_neighbors=n_neighbors, metric="euclidean")
nn.fit(paragraph_matrix)

distances, indices = nn.kneighbors(question_matrix)

rows = []
for q_idx, (q_id, neigh_indices) in enumerate(
    zip(questions_df["question_id"], indices)
):
    for rank, p_idx in enumerate(neigh_indices, start=1):
        rows.append(
            {
                "question_id": q_id,
                "question_rank": rank,
                "document_title": parsed_df.loc[p_idx, "document_title"],
                "paragraph_index": int(parsed_df.loc[p_idx, "paragraph_index"]),
            }
        )

matches_df = pd.DataFrame(rows)
matches_df.head()

,question_id,question_rank,document_title,paragraph_index
0,1,1,Tuvalu,49
1,1,2,Genome,8
2,1,3,Rajasthan,9
3,1,4,Bill_%26_Melinda_Gates_Foundation,6
4,1,5,Tibet,10

Save your top matches in a file "question-matches.tsv" with columns question_id, question_rank, document_title, and paragraph_index.

In [20]:
# YOUR CHANGES HERE

# Part 5 (2/2): save matches to question-matches.tsv
matches_df.to_csv("question-matches.tsv", sep="\t", index=False)
matches_df.head()

,question_id,question_rank,document_title,paragraph_index
0,1,1,Tuvalu,49
1,1,2,Genome,8
2,1,3,Rajasthan,9
3,1,4,Bill_%26_Melinda_Gates_Foundation,6
4,1,5,Tibet,10

Submit "question-matches.tsv" in Gradescope.

## Part 6: Spot Check Question and Paragraph Matches

Review the paragraphs matched to the first 5 questions (sorted by question_id ascending).
Which paragraph was the worst match for each question?

In [22]:
# Part 6: build worst-paragraphs.tsv AFTER manual inspection
import pandas as pd

# TODO: replace the example rows with your actual choices
worst_rows = [
    # Example format (replace with real values):
    # {"question_id": 1, "document_title": "Some_Title", "paragraph_index": 123},
    # {"question_id": 4, "document_title": "Another_Title", "paragraph_index": 45},
]

worst_df = pd.DataFrame(worst_rows)
worst_df.to_csv("worst-paragraphs.tsv", sep="\t", index=False)
worst_df

Empty DataFrame
Columns: []
Index: []

Submit "worst-paragraphs.tsv" in Gradescope.

In [21]:
# Part 6: inspect matches for first 5 questions
import pandas as pd

# Make sure these are in memory (from earlier cells); if not, reload:
# parsed_df = pd.read_csv("parsed.tsv", sep="\t")
# matches_df = pd.read_csv("question-matches.tsv", sep="\t")
# questions_df = pd.read_csv("questions.tsv", sep="\t")

first5_ids = sorted(questions_df["question_id"].unique())[:5]

for q_id in first5_ids:
    q_text = questions_df.loc[
        questions_df["question_id"] == q_id, "question"
    ].iloc[0]
    print("=" * 100)
    print(f"QUESTION {q_id}: {q_text}\n")

    sub = matches_df[matches_df["question_id"] == q_id].sort_values(
        "question_rank"
    )

    for _, row in sub.iterrows():
        para = parsed_df[
            (parsed_df["document_title"] == row["document_title"])
            & (parsed_df["paragraph_index"] == row["paragraph_index"])
        ]["paragraph_context"].iloc[0]

        print(
            f"  rank {row['question_rank']} | "
            f"doc={row['document_title']} | para_index={row['paragraph_index']}"
        )
        print(para)
        print("-" * 100)

====================================================================================================
QUESTION 1: What was the goal of the abuse of region project?

  rank 1 | doc=Tuvalu | para_index=49
The eastern shoreline of Funafuti Lagoon was modified during World War II when the airfield (what is now Funafuti International Airport) was constructed. The coral base of the atoll was used as fill to create the runway. The resulting borrow pits impacted the fresh-water aquifer. In the low areas of Funafuti the sea water can be seen bubbling up through the porous coral rock to form pools with each high tide. Since 1994 a project has been in development to assess the environmental impact of transporting sand from the lagoon to fill all the borrow pits and low-lying areas on Fongafale. In 2014 the Tuvalu Borrow Pits Remediation (BPR) project was approved in order to fill 10 borrow pits, leaving Tafua Pond, which is a natural pond. The New Zealand Government funded the BPR project. The project was carried out in 2015 with 365,000 sqm of sand being dredged from the lagoon to fill the holes and improve living conditions on the island. This project increase the usable land space on Fongafale by eight per cent.
----------------------------------------------------------------------------------------------------
  rank 2 | doc=Genome | para_index=8
Whereas a genome sequence lists the order of every DNA base in a genome, a genome map identifies the landmarks. A genome map is less detailed than a genome sequence and aids in navigating around the genome. The Human Genome Project was organized to map and to sequence the human genome. A fundamental step in the project was the release of a detailed genomic map by Jean Weissenbach and his team at the Genoscope in Paris.
----------------------------------------------------------------------------------------------------
  rank 3 | doc=Rajasthan | para_index=9
The Aravalli Range and the lands to the east and southeast of the range are generally more fertile and better watered. This region is home to the Kathiarbar-Gir dry deciduous forests ecoregion, with tropical dry broadleaf forests that include teak, Acacia, and other trees. The hilly Vagad region, home to the cities of Dungarpur and Banswara lies in southernmost Rajasthan, on the border with Gujarat and Madhya Pradesh. With the exception of Mount Abu, Vagad is the wettest region in Rajasthan, and the most heavily forested. North of Vagad lies the Mewar region, home to the cities of Udaipur and Chittaurgarh. The Hadoti region lies to the southeast, on the border with Madhya Pradesh. North of Hadoti and Mewar lies the Dhundhar region, home to the state capital of Jaipur. Mewat, the easternmost region of Rajasthan, borders Haryana and Uttar Pradesh. Eastern and southeastern Rajasthan is drained by the Banas and Chambal rivers, tributaries of the Ganges.
----------------------------------------------------------------------------------------------------
  rank 4 | doc=Bill_%26_Melinda_Gates_Foundation | para_index=6
The IJM used the grant money to found "Project Lantern" and established an office in the Philippines city of Cebu. In 2010 the results of the project were published, in which the IJM stated that Project Lantern had led to "an increase in law enforcement activity in sex trafficking cases, an increase in commitment to resolving sex trafficking cases among law enforcement officers trained through the project, and an increase in services – like shelter, counseling and career training – provided to trafficking survivors". At the time that the results were released, the IJM was exploring opportunities to replicate the model in other regions.
----------------------------------------------------------------------------------------------------
  rank 5 | doc=Tibet | para_index=10
The earliest Tibetan historical texts identify the Zhang Zhung culture as a people who migrated from the Amdo region into what is now the region of Guge in western Tibet. Zhang Zhung is considered to be the original home of the Bön religion. By the 1st century BCE, a neighboring kingdom arose in the Yarlung valley, and the Yarlung king, Drigum Tsenpo, attempted to remove the influence of the Zhang Zhung by expelling the Zhang's Bön priests from Yarlung. He was assassinated and Zhang Zhung continued its dominance of the region until it was annexed by Songtsen Gampo in the 7th century. Prior to Songtsän Gampo, the kings of Tibet were more mythological than factual, and there is insufficient evidence of their existence.
----------------------------------------------------------------------------------------------------
====================================================================================================
QUESTION 4: How many satellites in the Beidou-1 constellation?

  rank 1 | doc=Dog | para_index=27
Dog communication is about how dogs "speak" to each other, how they understand messages that humans send to them, and how humans can translate the ideas that dogs are trying to transmit.:xii These communication behaviors include eye gaze, facial expression, vocalization, body posture (including movements of bodies and limbs) and gustatory communication (scents, pheromones and taste). Humans communicate with dogs by using vocalization, hand signals and body posture.
----------------------------------------------------------------------------------------------------
  rank 2 | doc=Multiracial_American | para_index=17
Prior to the one-drop rule, different states had different laws regarding color. More importantly, social acceptance often played a bigger role in how a person was perceived and how identity was construed than any law. In frontier areas, there were fewer questions about origins. The community looked at how people performed, whether they served in the militia and voted, which were the responsibilities and signs of free citizens. When questions about racial identity arose because of inheritance issues, for instance, litigation outcomes often were based on how people were accepted by neighbors.
----------------------------------------------------------------------------------------------------
  rank 3 | doc=The_Blitz | para_index=10
The deliberate separation of the Luftwaffe from the rest of the military structure encouraged the emergence of a major "communications gap" between Hitler and the Luftwaffe, which other factors helped to exacerbate. For one thing, Göring's fear of Hitler led him to falsify or misrepresent what information was available in the direction of an uncritical and over-optimistic interpretation of air strength. When Göring decided against continuing Wever's original heavy bomber programme in 1937, the Reichsmarschall's own explanation was that Hitler wanted to know only how many bombers there were, not how many engines each had. In July 1939, Göring arranged a display of the Luftwaffe's most advanced equipment at Rechlin, to give the impression the air force was more prepared for a strategic air war than was actually the case.
----------------------------------------------------------------------------------------------------
  rank 4 | doc=Rule_of_law | para_index=3
There has recently been an effort to reevaluate the influence of the Bible on Western constitutional law. In the Old Testament, there was some language in Deuteronomy imposing restrictions on the Jewish king, regarding such things as how many wives he could have, and how many horses he could own for his personal use. According to Professor Bernard M. Levinson, "This legislation was so utopian in its own time that it seems never to have been implemented...." The Deuteronomic social vision may have influenced opponents of the divine right of kings, including Bishop John Ponet in sixteenth-century England.
----------------------------------------------------------------------------------------------------
  rank 5 | doc=Classical_music | para_index=5
That said, the score does not provide complete and exact instructions on how to perform a historical work. Even if the tempo is written with an Italian instruction (e.g., Allegro), we do not know exactly how fast the piece should be played. As well, in the Baroque era, many works that were designed for basso continuo accompaniment do not specify which instruments should play the accompaniment or exactly how the chordal instrument (harpsichord, lute, etc.) should play the chords, which are not notated in the part (only a figured bass symbol beneath the bass part is used to guide the chord-playing performer). The performer and/or the conductor have a range of options for musical expression and interpretation of a scored piece, including the phrasing of melodies, the time taken during fermatas (held notes) or pauses, and the use (or choice not to use) of effects such as vibrato or glissando (these effects are possible on various stringed, brass and woodwind instruments and with the human voice).
----------------------------------------------------------------------------------------------------
====================================================================================================
QUESTION 7: When did Beyoncé  receive ten nominations for the Grammy Awards?

  rank 1 | doc=Buddhism | para_index=67
The complete list of ten precepts may be observed by laypeople for short periods. For the complete list, the seventh precept is partitioned into two, and a tenth added:
----------------------------------------------------------------------------------------------------
  rank 2 | doc=The_Blitz | para_index=4
Within the Luftwaffe, there was a more muted view of strategic bombing. The OKL did not oppose the strategic bombardment of enemy industries and or cities, and believed it could greatly affect the balance of power on the battlefield in Germany's favour by disrupting production and damaging civilian morale, but they did not believe that air power alone could be decisive. Contrary to popular belief, the Luftwaffe did not have a systematic policy of what became known as "terror bombing". Evidence suggests that the Luftwaffe did not adopt an official bombing policy in which civilians became the primary target until 1942.
----------------------------------------------------------------------------------------------------
  rank 3 | doc=American_Idol | para_index=19
The finals are broadcast in prime time from CBS Television City in Los Angeles, in front of a live studio audience. The finals lasted eight weeks in season one, eleven weeks in subsequent seasons until seasons ten and eleven which lasted twelve weeks except for season twelve, which lasted ten weeks, and season thirteen, which lasted for thirteen weeks. Each finalist performs songs based on a weekly theme which may be a musical genre such as Motown, disco, or big band, songs by artists such as Michael Jackson, Elvis Presley or The Beatles, or more general themes such as Billboard Number 1 hits or songs from the contestant's year of birth. Contestants usually work with a celebrity mentor related to the theme. In season ten, Jimmy Iovine was brought in as a mentor for the season. Initially the contestants sing one song each week, but this is increased to two songs from top four or five onwards, then three songs for the top two or three.
----------------------------------------------------------------------------------------------------
  rank 4 | doc=Gymnastics | para_index=12
Individual routines in trampolining involve a build-up phase during which the gymnast jumps repeatedly to achieve height, followed by a sequence of ten bounces without pause during which the gymnast performs a sequence of aerial skills. Routines are marked out of a maximum score of 10 points. Additional points (with no maximum at the highest levels of competition) can be earned depending on the difficulty of the moves and the length of time taken to complete the ten skills which is an indication of the average height of the jumps. In high level competitions, there are two preliminary routines, one which has only two moves scored for difficulty and one where the athlete is free to perform any routine. This is followed by a final routine which is optional. Some competitions restart the score from zero for the finals, other add the final score to the preliminary results.
----------------------------------------------------------------------------------------------------
  rank 5 | doc=High-definition_television | para_index=11
The limited standardization of analog HDTV in the 1990s did not lead to global HDTV adoption as technical and economic constraints at the time did not permit HDTV to use bandwidths greater than normal television.
----------------------------------------------------------------------------------------------------
====================================================================================================
QUESTION 10: With which goddess did Sulla, Pompey, and Julius Caesar all claim a special relationship?

  rank 1 | doc=Education | para_index=26
Educational psychology can in part be understood through its relationship with other disciplines. It is informed primarily by psychology, bearing a relationship to that discipline analogous to the relationship between medicine and biology. Educational psychology in turn informs a wide range of specialties within educational studies, including instructional design, educational technology, curriculum development, organizational learning, special education and classroom management. Educational psychology both draws from and contributes to cognitive science and the learning sciences. In universities, departments of educational psychology are usually housed within faculties of education, possibly accounting for the lack of representation of educational psychology content in introductory psychology textbooks (Lucas, Blazek, & Raley, 2006).
----------------------------------------------------------------------------------------------------
  rank 2 | doc=Unicode | para_index=18
Many scripts, including Arabic and Devanagari, have special orthographic rules that require certain combinations of letterforms to be combined into special ligature forms. The rules governing ligature formation can be quite complex, requiring special script-shaping technologies such as ACE (Arabic Calligraphic Engine by DecoType in the 1980s and used to generate all the Arabic examples in the printed editions of the Unicode Standard), which became the proof of concept for OpenType (by Adobe and Microsoft), Graphite (by SIL International), or AAT (by Apple).
----------------------------------------------------------------------------------------------------
  rank 3 | doc=Computer | para_index=50
A key component common to all CPUs is the program counter, a special memory cell (a register) that keeps track of which location in memory the next instruction is to be read from.
----------------------------------------------------------------------------------------------------
  rank 4 | doc=Sino-Tibetan_relations_during_the_Ming_dynasty | para_index=43
With the example of the Ming court's relationship with the fifth Karmapa and other Tibetan leaders, Norbu states that Chinese Communist historians have failed to realize the significance of the religious aspect of the Ming-Tibetan relationship. He writes that the meetings of lamas with the Emperor of China were exchanges of tribute between "the patron and the priest" and were not merely instances of a political subordinate paying tribute to a superior. He also notes that the items of tribute were Buddhist artifacts which symbolized "the religious nature of the relationship." Josef Kolmaš writes that the Ming dynasty did not exercise any direct political control over Tibet, content with their tribute relations that were "almost entirely of a religious character." Patricia Ann Berger writes that the Yongle Emperor's courting and granting of titles to lamas was his attempt to "resurrect the relationship between China and Tibet established earlier by the Yuan dynastic founder Khubilai Khan and his guru Phagpa." She also writes that the later Qing emperors and their Mongol associates viewed the Yongle Emperor's relationship with Tibet as "part of a chain of reincarnation that saw this Han Chinese emperor as yet another emanation of Manjusri."
----------------------------------------------------------------------------------------------------
  rank 5 | doc=Symbiosis | para_index=8
An example of mutual symbiosis is the relationship between the ocellaris clownfish that dwell among the tentacles of Ritteri sea anemones. The territorial fish protects the anemone from anemone-eating fish, and in turn the stinging tentacles of the anemone protect the clownfish from its predators. A special mucus on the clownfish protects it from the stinging tentacles.
----------------------------------------------------------------------------------------------------
====================================================================================================
QUESTION 13: What area is considered to have a desert climate despite having an annual monsoon season?

  rank 1 | doc=Mali | para_index=10
Mali lies in the torrid zone and is among the hottest countries in the world. The thermal equator, which matches the hottest spots year-round on the planet based on the mean daily annual temperature, crosses the country. Most of Mali receives negligible rainfall and droughts are very frequent. Late June to early December is the rainy season in the southernmost area. During this time, flooding of the Niger River is common, creating the Inner Niger Delta. The vast northern desert part of Mali has a hot desert climate (Köppen climate classification (BWh) with long, extremely hot summers and scarce rainfall which decreases northwards. The central area has a hot semi-arid climate (Köppen climate classification (BSh) with very high temperatures year-round, a long, intense dry season and a brief, irregular rainy season. The little southern band possesses a tropical wet and dry climate (Köppen climate classification (Aw) very high temperatures year-round with a dry season and a rainy season.
----------------------------------------------------------------------------------------------------
  rank 2 | doc=San_Diego | para_index=16
San Diego is one of the top-ten best climates in the Farmers' Almanac and is one of the two best summer climates in America as scored by The Weather Channel. Under the Köppen–Geiger climate classification system, the San Diego area has been variously categorized as having either a semi-arid climate (BSh in the original classification and BSkn in modified Köppen classification) or a Mediterranean climate (Csa and Csb). San Diego's climate is characterized by warm, dry summers and mild winters with most of the annual precipitation falling between December and March. The city has a mild climate year-round, with an average of 201 days above 70 °F (21 °C) and low rainfall (9–13 inches [230–330 mm] annually). Dewpoints in the summer months range from 57.0 °F (13.9 °C) to 62.4 °F (16.9 °C).
----------------------------------------------------------------------------------------------------
  rank 3 | doc=Alaska | para_index=8
The climate in Southeast Alaska is a mid-latitude oceanic climate (Köppen climate classification: Cfb) in the southern sections and a subarctic oceanic climate (Köppen Cfc) in the northern parts. On an annual basis, Southeast is both the wettest and warmest part of Alaska with milder temperatures in the winter and high precipitation throughout the year. Juneau averages over 50 in (130 cm) of precipitation a year, and Ketchikan averages over 150 in (380 cm). This is also the only region in Alaska in which the average daytime high temperature is above freezing during the winter months.
----------------------------------------------------------------------------------------------------

Write a file "worst-paragraphs.tsv" with three columns question_id, document_title, paragraph_index.

## Part 7: Code

Please submit a Jupyter notebook that can reproduce all your calculations and recreate the previously submitted files.
You do not need to provide code for data collection if you did that by manually.

## Part 8: Acknowledgements

If you discussed this assignment with anyone, please acknowledge them here.
If you did this assignment completely on your own, simply write none below.

If you used any libraries not mentioned in this module's content, please list them with a brief explanation what you used them for. If you did not use any other libraries, simply write none below.

If you used any generative AI tools, please add links to your transcripts below, and any other information that you feel is necessary to comply with the generative AI policy. If you did not use any generative AI tools, simply write none below.

In [24]:
import pandas as pd

ack_data = [{
    "discussions": "none",
    "extra_libraries": "none",
    "generative_ai": (
        "Used OpenAI ChatGPT (GPT-5 Thinking) to help design and structure code "
        "for the DX704 Week 10 project; I reviewed, ran, and adjusted all code myself."
    ),
}]

ack_df = pd.DataFrame(ack_data)
ack_df.to_csv("acknowledgements.tsv", sep="\t", index=False)
ack_df

,discussions,extra_libraries,generative_ai
0,none,none,Used OpenAI ChatGPT (GPT-5 Thinking) to help d...